<!doctype html>
<html lang="ch" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title th:text="${title}">默认的标题</title>
        <meta name="description" th:content="${description}">
        <script th:src="@{js/jquery/jquery-1.8.3.min.js}"></script>
        <link th:href="@{web/layui/css/layui.css}" rel="stylesheet" />
        <script th:src="@{web/layui/layui.js}"></script>
        <script  th:inline="javascript">

            layui.use(['table'],function () {
                var table = layui.table;
                var layer = layui.layer;

                table.on('tool(test)',function (obj) {
                    if(obj.event==="del"){
                        layer.confirm('是否删除?', {icon: 3, title:'提示'}, function(index){
                            $.post(
                                '/removeById',
                                {id:obj.data.id},
                                function (obj) {
                                    if(obj===1){
                                        table.reload("tabled");
                                    }
                                },
                                "json"
                            )
                            layer.close(index);
                        });
                    }else if(obj.event==="edit"){
                        layer.open({
                            type: 2,
                            title:'修改学生',
                            content:"/shwoStudent/"+obj.data.id,
                            area:['620px','600px'],
                            anim: 1,
                            scrollbar: false,
                            end:function () {
                                table.reload("tabled");
                            }
                        })
                    }
                })

                $("#addEmaployeeid").click(function () {
                    layer.open({
                        type: 2,
                        title:'添加学生',
                        content:"/addStudent",
                        area:['620px','600px'],
                        anim: 1,
                        scrollbar: false,
                        end:function () {
                            table.reload("tabled");
                        }
                    })
                })

                table.render({
                        elem:'#demo',
                        url:'/getstudents',
                        method: 'get',
                        id:'tabled',
                        width:1000,
                        page:true,
                        limit:4,
                        limits:[4,6,8,10],
                        request:{
                            pageName: "pageNumber",
                            limitName: "pageSize"
                        },
                        parseData:function (res) {
                            console.log(res);
                            return {
                                code: res.total !== 0 ? 0 : 500,
                                msg: res.size !== 0 ? "成功" : "失败",
                                count: res.total,
                                data: res.list
                            }
                        },
                        cols: [[ //表头
                        {field: 'id', title: '学生编号', width:200, sort: true, fixed: 'left'}
                        ,{field: 'name', title: '用户名', width:200 }
                        ,{field: 'age', title: '年龄', width:200, sort: true}
                        ,{field: 'gander', title: '性别', width:200,
                                templet:function (d){
                                    return d.gander
                                }
                        },{ title: '操作', width:200,align: 'center',
                        templet:function (d){
                            return "  <button type=\"button\" class=\"layui-btn layui-btn-sm\"  lay-event='edit'>编辑</button>\n" +
                                "  <button type=\"button\" class=\"layui-btn layui-btn-sm\" lay-event='del'>删除</button>"
                        }}
                    ]]
                });
            })
        </script>
    </head>
    <body>

        <div class="layui-container">
            <table id="demo" lay-filter="test"></table>
            <button id="addEmaployeeid" type="button" class="layui-btn layui-btn-fluid" style="width:1000px" >添加员工</button>
        </div>

    </body>

</html>